@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
html, body {
  font-family: 'IBM Plex Sans', sans-serif;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: inherit;
}
main {
  padding-top: 96px;
  padding-bottom: 96px;
}
.about-icon {
  width: 48px;
  margin-right: 24px;
}
.home-section {
  padding: 12% 48px;
  background-color: #1A1A1A;
  color: #EBEBEB;
}
.home-section__content {
  max-width: 1600px;
  margin: 0 auto;
}
.home-section__heading {
  margin-bottom: 24px;
}
.home-section__heading span {
  font-weight: 600;
}
.home-section__description {
  margin-bottom: 64px;
  font-size: 24px;
  max-width: 960px;
}
h1, .h1 {
  text-transform: uppercase;
  font-size: 72px;
  line-height: 1;
  font-weight: 600;
}
.button {
  background-color: #EBEBEB;
  color: #1A1A1A;
  font-weight: 600;
  text-transform: uppercase;
}
.hollow.button {
  background-color: transparent;
  border: 1px solid #EBEBEB;
  color: #EBEBEB;
}
.home-section:nth-of-type(even) {
  background-color: #EBEBEB;
  color: #1A1A1A;
}
.home-section:nth-of-type(even) .home-section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home-section:nth-of-type(even) .hollow.button {
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
}
.top-bar {
  padding: 24px 48px;
  background-color: #EBEBEB;
  color: #1A1A1A;
}
.top-bar ul {
  background-color: transparent;
}
.menu.simple li+li {
  margin-left: 32px;
}
.top-bar a {
  color: inherit;
  font-size: 24px;
}
.menu-active {
  font-weight: 600;
}
.top-bar__content {
  max-width: 1600px;
  flex: 0 1 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-icon {
  margin-right: 24px;
}
.menu-icon:after {
  background: #1a1a1a;
  -webkit-box-shadow: 0 7px 0 #fefefe, 0 14px 0 #1a1a1a;
  box-shadow: 0 7px 0 #1a1a1a, 0 14px 0 #1a1a1a;
}

/* Later convert this to mobile first (code debt) */
@media screen and (max-width: 640px) {
  .top-bar {
    padding: 24px;
  }
  .top-bar-right {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: #ebebeb;
    padding-bottom: 24px;
  }
  .menu.simple li+li {
    margin-left: 0;
  }
  .menu a {
    margin-bottom: 16px;
  }
  .home-section {
    padding: 48px 24px;
    background-color: #1A1A1A;
    color: #EBEBEB;
  }
  h1, .h1 {
    font-size: 48px;
  }
  .home-section__description {
    font-size: 16px;
    margin-bottom: 48px;
  }
  .button {
    font-size: 16px;
  }
}